[submodule "prereq/prereq-rust"]
	path = prereq/prereq-rust
	url = https://github.com/DavidBolaji/prereq-rust.git
[submodule "prereq/prereq-ts"]
	path = prereq/prereq-ts
	url = https://github.com/DavidBolaji/prereq-ts.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/DavidBolaji/solana-starter.git
[submodule "defi-primitives/vault"]
	path = defi-primitives/vault
	url = https://github.com/DavidBolaji/vault.git
[submodule "defi-primitives/escrow"]
	path = defi-primitives/escrow
	url = https://github.com/DavidBolaji/escrow.git
