[submodule "prereq/prereq-rust"]
	path = prereq/prereq-rust
	url = https://github.com/DavidBolaji/prereq-rust.git
[submodule "prereq/prereq-ts"]
	path = prereq/prereq-ts
	url = https://github.com/DavidBolaji/prereq-ts.git
[submodule "solana-starter"]
	path = solana-starter
	url = https://github.com/DavidBolaji/solana-starter.git
[submodule "solana-gill-starter"]
	path = solana-gill-starter
	url = https://github.com/DavidBolaji/solana-gill-starter.git
